{% load static %}
{% load functions %}
<div class="row justify-content-center">
    <p style="font-size:1.8rem;">Chi tiết các giao dịch {{content}}</p>
</div>
{% if byMonth %}
    <p>Tổng tiền chuyển {{content}}: <span class="badge badge-light">{{totalMoney|parseMoney}} &#8363;</span></p>
    <p>Tổng số lần chuyển {{content}}: <span class="badge badge-light">{{totalBill}} </span></p>
    <p>Lương {{content}}: <span class="badge badge-light">{{salaryInMonth|parseMoney}} &#8363;</span></p>
{% else %}
{% endif %}
{% for bill in bills %}
           
    {% comment %} <div class="alert alert-warning w-100" role="alert">
        Ngày: <span class="badge badge-secondary">{{bill.date}}</span> &nbsp; | &nbsp; Số tiền: <span class="badge badge-success">{{bill.money|parseMoney}}</span>
        &nbsp; | &nbsp;<a href="#"  onclick="listenClickModel('myModal','myImg','img01','{% static 'app/image/'|add:bill.file_name %}')">Xem ảnh</a>
    </div>  {% endcomment %}
    <div class="row alert alert-warning w-100 m-0 mb-2" role="alert">
        <div class="col-8 border-right border-danger">
            <p>Ngày: <span class="badge badge-secondary">{{bill.date}}</span> &nbsp; | &nbsp; Số tiền: <span class="badge badge-success">{{bill.money|parseMoney}}</span></p>
            <p>Tên: <span style="font-weight:bold;">{{bill.name}}</span></p>
        </div>
        <div class="col-4 align-content-center">
            <a href="#"  onclick="listenClickModel('myModal','myImg','img01','{{bill.url_image}}')">Xem ảnh</a>
        </div>
    </div> 
    
{% endfor %}
<script>
    $(document).ready(function(){
        
        $("#loader").removeClass( "loader" );
        $("#main_body").css({opacity:1});
    });
</script>